*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

#Header {
    height: 6%;
    width: 100%;
    /*background-color: red;*/
}

#navBar{
    margin-left: 110px;
}

img {
    width: 135px;
    height: 67.5px;
}

/*#Footer {
    height: 5%;
    width: 100%;
    /*background-color: yellow;*/
    display: flex;
    align-content: center;
    justify-content: center;
}*/
